h1 {
    float: left;
}

h2 {
    clear: both;
}

#sign-out {
    float: right;
}

#to-trash {
    float: right;
}

#to-account {
    float: right;
}

#to-gallery {
    float: right;
}

#gallery {
    width: 100%;
    float: left;
}

#add-meme{
    width: 267px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    float: left;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
}

#add-meme img{
    height: 200px;
    width: auto;
}

#add-meme:hover {
    border: 1px solid #777;
}

#gallery-item{
    width: 267px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    float: left;
    box-sizing: border-box;
}

#gallery-item img{
    max-width: 100%;
    max-height: 100%;
}

#gallery-item:hover {
    border: 1px solid #777;
}

#window {
    position: fixed; /* Sit on top of the page content */
    margin: auto;
    display: none; /* Hidden by default */
    width: auto; /* Full width (cover the whole page) */
    max-width: 1024px;
    height: 512px; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdbdbd; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#close-window {
    float: right;
    color: white;
    font-size: 30px;
}

#window-content {
    clear: both;
    display: block;
    text-align: left;
}

#window-content2 {
    clear: both;
    display: none;
    text-align: left;
}

#window-content3 {
    clear: both;
    display: none;
    text-align: center;
}

#window-content4 {
    clear: both;
    display: none;
}

#window-content5 {
    clear: both;
    display: none;
}

#meme-preview {
    max-width: 100%;
    max-height: 400px;
}

#meme-url{
    margin-left: 5px;
}

#image-url{
    margin-left: 5px;
}

#image-to-edit {
    max-height: 480px;
    max-width: 100%;
}